@import "./mixins";

@mixin Container5 {
  .row4 {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;

    .portfolio {
      max-width: 1000px;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      // grid-template-rows: 400px;
      grid-auto-rows: auto;
      > .image {
        > img {
          width: 100%;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }
}
